<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header> -->




<ion-content no-padding>
  <form [formGroup]="loginForm">

    <ion-grid no-padding class="full-height" id="login-grid">
      <ion-row class="full-height">
        <ion-col no-padding>
          <ion-row id="logo-row" justify-content-center>
            <img src="assets/imgs/e-health-logo.png" />
          </ion-row>
          <ion-row id="username-row" justify-content-center>
            <!-- <ion-label></ion-label> -->
            <ion-col>
              <ion-input formControlName="username" placeholder="{{'LOGIN.EMAIL' | translate}}" type="email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row id="password-row" justify-content-center>
            <!-- <ion-label></ion-label> -->
            <ion-col>
              <ion-input formControlName="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" type="password"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row id="login-row" justify-content-center>
            <ion-col>
              <button full block ion-button  (click)="login()">{{'LOGIN.LOGIN' | translate}}</button>
            </ion-col>
          </ion-row>
          <ion-row id="register-row" justify-content-center>
            <button clear full block ion-button (click)="register()">{{'LOGIN.REGISTER' | translate}}</button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>