page-login {
  ion-content{
    background: #01d5fa !important;
  }

  #login-grid{
    max-width: 350px;
    width: 90vw;

  }

  .full-height{
    height: 100vh;
  }

  #logo-row{
    padding-top: 10vh;
    img{
      max-height: 120px;
    }
    margin-bottom: 10vh;
  }


  #login-row{
    margin-top: 20px;
    button{
      background: #009ab4;
      text-transform: none;
      border-radius: 5px;
      padding: 0;
    }
  }

  #username-row,
  #password-row {
    ion-input{
      background: #fff;
      border-radius: 5px;
      padding-left:  5px;
      padding-right: 5px;
    }
  }

  #register-row{
    margin-top: 20px;
    button{
      text-transform: none;
      color: #fff;
    }
  }
}
