<!--
  Generated template for the InformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>information</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  information 
</ion-content>
