<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>tabs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="informationRoot" [rootParams]="{}" tabTitle="Information" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="dummyRoot" [rootParams]="{dummyData: 'tab2'}" tabTitle="Appointments" tabIcon="calendar"></ion-tab>
    <ion-tab [root]="dummyRoot" [rootParams]="{dummyData: 'tab3'}" tabTitle="Map" tabIcon="map"></ion-tab>
  </ion-tabs>
</ion-content>